body{
    background-color: black
}
h1 {
    font-family: 'Modak', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}
p{
    color: red;
    text-align: center;
}