body {
    background-color: black;

}

h1 {
    color: blueviolet;
    text-align: center;
}
p{
    color: blanchedalmond;
    text-align: center;
}
img {
    margin: auto;
    position: fixed;
}

h2{
    text-align: center;
    color: blueviolet;
}